.date-time-input {
    border: 1px solid rgb(209 213 219);
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
}

.interview-result {
    border: 1px solid rgb(209 213 219);
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
}

.add-new-interview-btn {
    border: 1px solid rgb(46 16 101);
    color: rgb(46 16 101);
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
}

.example-radio-button {
    margin: 0 5px;
}