table {
    width: 100%;
}

td,
th {
    text-align: left !important;
    vertical-align: middle !important;
}

th {
    color: white !important;
    font-size: 13px;
    background-color: #1e293b;
}

 ::ng-deep .mat-focused {
    border-color: #1e293b;
}

 ::ng-deep .search-bar {
    margin-top: -65px;
    margin-right: 170px;
}

.not-found-container {
    width: 50%;
}

.container {
    max-height: 60vh;
    overflow: auto;
    margin: 0;
  }