td, th {
    text-align: center !important;
    vertical-align: middle !important;
}
.highlight{
    font-size: large;
  }

.custom-dialog-content{
    max-height: 50vh;
   
}



  .sticky-header-row {
    padding: 0 !important;

    position: sticky;
    top: 0;
    
  }
